.section-8 {
  margin-top: auto;
  margin-bottom: 0px;
}

.footer-container {
  display: flex;
  max-width: 940px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image-2 {
  display: block;
  text-align: left;
}

.footer-text {
  color: #333;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.footer-link {
  color: hsla(0, 0.00%, 20.00%, 1.00);
  font-weight: 300;
  text-decoration: none;
}