.hero-photo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;

  object-fit: none;
}

@media screen and (max-width: 991px) {
  .hero-photo-section {
    align-self: auto;
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .container-16 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .container-16 {
    width: 100%;
  }
}

.hero-photo {
  max-width: 940px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 991px) {
  .hero-photo {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hero-photo {
    border-radius: 0px;
  }
}

.caption-container {
  display: flex;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  order: 0;
  flex: 1;
  grid-column-gap: 80px;
  grid-row-gap: 80px;

  font-size: 10px;
}

@media screen and (max-width: 479px) {
  .caption-container {
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-self: flex-start;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }
}

.location {
  order: -9999;
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .location {
    font-size: 0.6rem;
  }
}

.camera {
  order: 9999;
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .camera {
    font-size: 0.6rem;
  }
}